@media (max-width: 668px){
	.header-part{
		height: 1050px;
	}
	.navbar-brand{
		float: left;
		width: 400px;
		margin-right: 0;
		margin-left: 0;

	}
	.navbar-toggler{
		float: right;
		border: none;
		width: 1rem;
	}
	
    
}
@media(max-width: 768px) {
	.header-part{
		height: 1100px;
	}
}
@media(max-width:768px){
    
    .abt-info{
        margin-left: 125px;
        
    }
    .shoping-img{
        text-align: center;
    }
    .abt-img img{
        width: 400px;
        
    }
    .abt-part{
        margin-top: 250px;
        padding-top: 150px;
	}
	
   
}
@media(max-width: 576px){
   
    .abt-part{
        padding-top: 150px;
    }
    .abt-info{
        display: block!important;
        height: 250px;
        text-align: center;
        margin: 20px auto;
        padding: 20px 90px;
    }
}