@media (max-width: 668px){
	.header-part{
		height: 1050px;
	}
	.abt-icon{
		border: none;
		margin-left: 20%;
	}
	.navbar-brand{
		float: left;
		width: 400px;
		margin-right: 0;
		margin-left: 0;

	}
	.navbar-toggler{
		float: right;
		border: none;
		width: 1rem;
	}
	.abt-img{
		margin-top: 100px;
		width: 90%;
	}
}
@media(max-width: 768px) {
	.header-part{
		height: 1100px;
	}
}